@use "./base.scss";

// put your custom CSS here!

// Limit image size on page and hint they're interactive
.popover-hint img,
article img {
  max-width: 400px;
  max-height: 500px;
  height: auto;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.02);
  }
}
